/* Mobile ------ */
#header-top, #header-main {
  overflow:hidden;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: #cf8e02;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  padding: 7px;
}

#header-top h2, #header-main h2 { 
  margin: 5px 0; 
  color: #fff; 
}
#avatar-img-headertop { 
  height: 150px;
}
#guitar-div {
  position: relative;
  display:inline-block;
}
#guitar-img-headertop { 
  height: 70px; 
  position:absolute; top: -1.5rem; right: -5rem;
}
#header-main { display: none; }

/* Tablet Desktop ------ */
@media only screen and (min-width: 768px) {
  #header-top {display:none;}

  #header-main {
    height: 200px;
    width: 300px;
    display:flex; 
    justify-content: space-around;
    margin: 30px 10px;
  }
  #header-main h2 {font-size: 1.6rem;}
  #avatar-img-headertop { height: 150px; }  
  #guitar-img-headertop {height: 60px; }
}